.login-form {
  padding: 2rem;
  background-color: $brand-primary;
  border-radius: 10px;

  .section-title {
    position: relative;
    margin-bottom: 3rem;
    text-align: center;
    color: $white;

    &:before {
      content: '';
      position: absolute;
      top: -75%;
      right: -5%;
      display: block;
      width: 8rem;
      height: 8rem;
      background: url('../assets/images/stamps/blackjack.png') no-repeat;
      background-size: contain;
    }
  }
}